@section styles{
<link rel="stylesheet" href="~/css/site.css">
}

<section class="page">

    <h1 class="page-title">Administration</h1>

    <div class="admin-container">
        <a asp-action="Create" asp-controller="Dogs" class="btn btn-add">Lägg till en hund</a>
    </div>
</section>